<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/adduser.css">
    <title>User Page</title>
</head>

<body>
   
    <div class="container">
        <div class="row">
            <div class="col-8 my-2">
                <div class="box"> 
                    <form>
                        <input type="btn" id="homepage" class="btn-home" value="Home Page">
                    </form>
                    <header id="mainHeader">
                        <div class="container">
                            <h2 class="header" id="headerTitle">User</h2>
                            <p class="text">Add user to a group </p>
                            
                        </div>
                    </header> 
                </div>
            </div>
            <div class="col-4 my-2">
                <h3>Groups</h3>
                <ul style="list-style: none;" id="group-list" class="group-list">

                </ul>
            </div>
        </div>
    </div>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <script src="../public/js/adduser.js"></script>
</body>

</html>